<template>
  <require from="./page-header.scss"></require>

  <div class="page-header-content base-width">
    <div class="logo">
      <a route-href="route: home">radio.js</a>
    </div>
    <div class="buttons">
      <div class="new">
        <div click.trigger="openNewRadioDialog()"><i class="las la-plus"></i></div>
      </div>
      <div class="settings">
        <div click.trigger="openSettings()"><i class="las la-sliders-h"></i></div>
      </div>
    </div>
  </div>
</template>
