@use "../../style/mixins/buttons";

page-header {
  color: var(--header-text);
  background-color: var(--header-background);
  position: sticky;
  top: 0;
}

.page-header-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-base-0-75) var(--size-base-2);

  .logo {
    font-size: var(--size-base-2);
    margin-left: var(--size-base-0-50);
    padding-bottom: var(--size-base-0-50);
  }

  .buttons {
    display: flex;
    margin-right: var(--size-base-0-50);

    > * {
      @include buttons.round-button(var(--header-button-color), var(--header-button-background), var(--header-button-hover), var(--size-base-2), var(--size-base-1-5));

      &:not(:first-child) {
        margin-left: var(--size-base-0-75);
      }
    }
  }
}
