@use "../../style/mixins/buttons";

playback-bar {
  position: sticky;
  bottom: 0;
  color: var(--playback-bar-text);
  background-color: var(--playback-bar-background);
}

.playback-bar-content {
  padding: var(--size-base-2);
  display: grid;
  grid-template-areas: "play songname volume" "play station volume";
  grid-template-columns: auto 1fr auto;

  .play-toggle, .volume .icon {
    @include buttons.round-button(var(--playback-button-color), var(--playback-button-background), var(--playback-button-hover), var(--size-base-3), var(--size-base-2));
  }

  .play-toggle {
    grid-area: play;
    margin-right: var(--size-base);
    margin-left: var(--size-base-0-50);
  }

  .song-name {
    grid-area: songname;
    font-weight: 600;
    font-size: var(--size-base-1-5);
  }

  .radio-name {
    grid-area: station;
  }

  .volume {
    grid-area: volume;
    margin-left: var(--size-base);
    margin-right: var(--size-base-0-50);

    border-radius: var(--size-base-1-5);
    background-color: var(--volume-slider-background-color);
    width: var(--size-base-3);
    height: var(--size-base-3);

    touch-action: none;
    user-select: none;

    &.volume-slider {
      width: var(--size-base-12);
      cursor: ew-resize;
    }

    &:not(.volume-slider-initialized){
      transition-property: width;
      transition-duration: 200ms;

      .volume-handle {
        transition-property: transform;
        transition-duration: 200ms;
      }
    }
  }
}
