<template>
  <require from="./playback-bar.scss"></require>

  <div class="playback-bar-content base-width">
    <div class="play-toggle" click.delegate="togglePause()">
      <i if.bind="isPaused" class="las la-play"></i>
      <i else class="las la-pause"></i>
    </div>
    <div class="song-name">${songName}</div>
    <div class="radio-name">${radioName}</div>
    <div class="volume ${isVolumeSliderOpen ? 'volume-slider' : ''} ${isSliderInitialized ? 'volume-slider-initialized' : ''}" ref="volumeSlider">
      <div class="icon volume-handle" click.delegate="toggleVolumeSlider()" ref="volumeSliderHandle">
        <i if.bind="volume > 50" class="las la-volume-up"></i>
        <i if.bind="volume <= 50 && volume > 0" class="las la-volume-down"></i>
        <i if.bind="volume === 0" class="las la-volume-mute"></i>
      </div>
    </div>
  </div>
</template>
