<template>
  <require from="./radio-list.scss"></require>

  <ul class="base-width">
    <li class="radio-list-item" repeat.for="radio of radios" click.delegate="changeToRadio(radio)">
      <div class="title">
        ${radio.name}
      </div>
      <div class="tags">
        <span class="tag" repeat.for="tag of radio.tags">${tag}</span>
      </div>
      <div class="edit">
        <div click.trigger="editRadio(radio)" click.delegate="$event.stopPropagation()">
          <i class="las la-edit"></i>
        </div>
      </div>
    </li>
  </ul>
</template>
