.settings-switch {
  display: grid;
  grid-template-areas: "title value" "info info";
  grid-template-columns: 1fr auto;

  .title {
    grid-area: title;
  }

  .value {
    grid-area: value;
  }

  .info {
    color: var(--text-lighter);
    grid-area: info;
  }
}
