<template>
  <require from="./settings-modal.scss"></require>
  <require from="../../resources/elements/switch"></require>

  <ux-dialog>
    <ux-dialog-header>
      <span>Settings</span>
      <div class="dialog-close" click.delegate="controller.close()"><i class="las la-times"></i></div>
    </ux-dialog-header>
    <ux-dialog-body>
      <div class="settings-switch">
        <span class="title">Enable notifications</span>
        <switch class="value" click.trigger="toggleNotifications()" enabled.one-way="notificationService.enabled"></switch>
        <span class="info" if.bind="notificationService.denied">Please enable notifications on your browser</span>
      </div>
    </ux-dialog-body>
  </ux-dialog>
</template>
